nodejs/node-red/flow.json
[{"id":"5ae2424d.d2e8dc","type":"tab","label":"flow1","disabled":false,"info":""},{"id":"57e0f8fb.55fa38","type":"DB2 for i Config","z":"","cnnname":"Local_DB","db":"*LOCAL","keepalive":true},{"id":"5920e3a7.03c1dc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"224f5b9d.cdda54","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"473ff2ad.c00a2c","type":"DB2 for i","z":"5ae2424d.d2e8dc","mydb":"57e0f8fb.55fa38","name":"Local_DB","arraymode":true,"x":483,"y":157,"wires":[["6bfa0754.e58128"]]},{"id":"6bfa0754.e58128","type":"http response","z":"5ae2424d.d2e8dc","name":"","statusCode":"","headers":{},"x":628,"y":188,"wires":[]},{"id":"7a9387a2.2e28a8","type":"http in","z":"5ae2424d.d2e8dc","name":"","url":"/query","method":"get","upload":false,"swaggerDoc":"","x":177,"y":161,"wires":[["883b4d0c.85477"]]},{"id":"883b4d0c.85477","type":"template","z":"5ae2424d.d2e8dc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{req.query.sql}}","output":"str","x":329,"y":196,"wires":[["473ff2ad.c00a2c"]]}]